---
layout: archive
title: "Research"
permalink: /research/
author_profile: true
---

{% include base_path %}
My research interests include DG finite element methods, variational inequalities, PDE-constrained optimization, numerical optimization, physics informed machine learning.

<h2>Collaborators</h2>
{% include include_research/collaborators.html %}

<h2>Research Projects</h2>
{% for post in site.research %}
  {% include archive-single.html %}
{% endfor %}

<h3>Peer-Reviewed Publications</h3>
<p>Bommana Boyana, S., Lewis, T., Liu, S., Zhang, Y. (2025). <em>Convergence analysis of a dual-wind discontinuous Galerkin method for an elliptic optimal control problem with control constraints</em>. Results in Applied Mathematics, Volume 27, 2025, 100624, ISSN 2590-0374.
<br>
<a href = "https://doi.org/10.1016/j.rinam.2025.100624">https://doi.org/10.1016/j.rinam.2025.100624</a>
<br>
Supported by NSF grants DMS-2111004 (PI: Y. Zhang), DMS-1929284 (PI: S. Liu) and DMS-2111059 (PI: T. Lewis) and Florida Polytechnic University research start-up grant (Satyajith Bommana Boyana)</p>

<p>Boyana, S.B., Lewis, T., Liu, S., Zhang, Y. (2024). <em>Convergence Analysis of Novel Discontinuous Galerkin Methods for a Convection Dominated Problem</em>. Journal of Computers and Mathematics with Applications, Volume 175, 2024, Pages 224-235, ISSN 0898-122.
<br>
<a href = "https://doi.org/10.1016/j.camwa.2024.09.027">https://doi.org/10.1016/j.camwa.2024.09.027</a>
<br>
Supported by NSF grants DMS-2111004 (PI: Y. Zhang), DMS-1929284 (PI: S. Liu) and DMS-2111059 (PI: T. Lewis)</p>

<p>Bommana Boyana, S., Lewis, T., Rapp, A., Zhang, Y. (2023). <em>Convergence analysis of a symmetric dual-wind discontinuous Galerkin method for a parabolic variational inequality</em>. Journal of Computational and Applied Mathematics, 422, 114922. 
<br>
<a href = "https://doi.org/10.1016/j.cam.2022.114922">https://doi.org/10.1016/j.cam.2022.114922</a>
<br>
Supported by NSF grants DMS-2111004 (PI: Y. Zhang) and DMS-2111059 (PI: T. Lewis)</p>


<h3>Manuscripts in Preparation</h3>
<p>Bommana Boyana, S., Lewis, T., Liu, S., Zhang, Y. <em>Convergence Analysis of Discontinuous Galerkin Methods for an Optimal Control Problem with a Convection-Dominated State Equation</em>.
<p>Asaithambi A., Asaithambi G., Bommana Boyana, S., Zhang, Y. <em>Computational Analysis of Thrombolysis in Acute Ischemic Stroke: Exploring a Novel Therapeutic Approach</em>.
<br>

