<html>
<head>
<style>
* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 50%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}
</style>
</head>
<body>
<div class="row">
  <div style="text-align: center;">
    <!-- <figcaption>Fig 1: Results of Configuration 1</figcaption> -->
  </div>
  <div class="column">
    <div style="text-align: center;">
      <img src="/academicprojects/figures/PCA/Load Plot PC1.png"
            style="width:100%"
            alt="Load Plot PC1">
    </div> 
  </div>
  <div class="column">
    <div style="text-align: center;">
      <img src="/academicprojects/figures/PCA/Load Plot PC2.png"
            style="width:100%"
            alt="Load Plot PC2">
    </div>
  </div>
</div>
</body>
</html>