<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    * {
      box-sizing: border-box;
    }

    .column {
      float: left;
      width: 50%;
      padding: 5px;
    }

    /* Clearfix (clear floats) */
    .row::after {
      content: "";
      clear: both;
      display: table;
    }
  </style>
</head>

<body>

  <div style="text-align: center;">
    <img src="/talks/pics/AMS2024/AMS_group.jpg" style="width:75%"
      alt="Picture of organizers and presenters at AMS spring southeastern sectional meeting 2024">
    <figcaption>Session organizers and presenters at AMS spring southeastern sectional meeting 2024</figcaption>
  </div>
  <br>
  <div style="text-align: center;">
    <img src="/talks/pics/AMS2024/AMS_solo.jpg" style="width:75%"
      alt="Picture of me presenting at AMS spring southeastern sectional meeting 2024">
    <figcaption>Picture of me presenting at AMS sectional meeting 2024</figcaption>
  </div>
</body>

</html>