<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    * {
      box-sizing: border-box;
    }

    .column {
      float: left;
      width: 50%;
      padding: 5px;
    }

    /* Clearfix (clear floats) */
    .row::after {
      content: "";
      clear: both;
      display: table;
    }
  </style>
</head>

<body>

  <div style="text-align: center;">
    <img src="/talks/pics/ICDE2024/ICDE2024_presenting.jpeg" style="width:75%"
      alt="Picture of me presenting at ICDE 2024">
    <figcaption>Picture of me presenting at ICDE 2024</figcaption>
  </div>
  <br>
  <div style="text-align: center;">
    <img src="talks/pics/ICDE2024/ICDE2024_grouppic.jpeg" style="width:75%"
      alt="with colleagues and mentors">
      <figcaption>Learning from the best while enjoying every moment with amazing company!
        <br>Front row(left to right) 
        <a href="https://sites.google.com/view/akhenderson/home">Dr. Keta Henderson</a>
        <a href="https://sites.google.com/uncg.edu/mchhetri/">Dr. Maya Chhetri</a>
        <a href="https://sites.google.com/a/uncg.edu/s_bandyo/">Dr. Shalmali Bandyopadhyay</a>,
        <a href="https://sites.google.com/view/ratnasingham-shivaji">Dr. Ratnasingham Shivaji</a>
        <a href="http://www.byungjaeson.epizy.com/?i=1">Dr. Byungjae Son</a>
        <a href="https://www.xuex.org/">Xiaohuan Xue (Max)</a>
        <br>Back row(left to right)
        Myself,
        <a href="https://sites.google.com/view/dnichols/home">Dr. Dustin Nichols</a>,
        <a href="https://mathstats.uncg.edu/people/directory/lewis/">Dr. Tom Lewis</a>,
        <a href="http://sciences-srv.aum.edu/~jgoddard/">Dr. Jerome Goddard II</a>.
      </figcaption>
  </div>
  <br>
  <div style="text-align: center;">
    <img src="/talks/pics/ICDE2024/ICDE2024_bdaycelebration_Shivaji.jpeg" style="width:75%"
      alt="celebrating Shivaji's 70th birthday">
    <figcaption>Celebrating <a href="https://sites.google.com/view/ratnasingham-shivaji">Prof. Ratnasingham Shivaji's</a> 70<sup>th</sup> birthday. </figcaption>
  </div>
</body>


</html>
